body {
  margin: 0px;
}

.fa-solid {
  cursor: pointer;
  transition: 1s;
}

.fa-solid:hover {
  color: #0A8754;
  transition: 1s;
}

.header {
  background-color: #004F2D;
  margin: 0px;
  display: flex;
  justify-content: space-between;
  font-size: 30px;
  color: white;
  align-items: center;
  position: fixed;
  top: 0%;
  width: 100%;
  margin-bottom: 20px;
  z-index: 1;
}
.header .left {
  padding: 30px;
}
.header .left a {
  color: white;
  text-decoration: none;
}
.header .right {
  padding: 30px;
}

.body_grid {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  margin-top: 90px;
  padding-bottom: 50px;
  width: 100%;
}
.body_grid .form-control {
  padding: 3px;
  padding-right: 300px;
  margin-bottom: 15px;
}
.body_grid .adding {
  display: flex;
  justify-self: center;
  align-items: center;
  gap: 30px;
  font-size: 30px;
  padding: 10px;
  padding-bottom: 20px;
}
.body_grid .tit {
  font-size: 60px;
  font-weight: 800;
  color: #1b1b3a;
  padding-top: 50px;
  padding-bottom: 20px;
  text-align: center;
}
.body_grid .tittle {
  font-size: 40px;
  font-weight: 800;
  color: #1b1b3a;
  padding-bottom: 20px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.body_grid .tittle .smaller {
  font-size: 30px;
}
.body_grid table {
  display: flex;
  justify-content: center;
  align-items: center;
  border-collapse: collapse;
  padding: 10px;
  overflow-y: auto;
  font-size: 25px;
}
.body_grid table td, .body_grid table th {
  border: 1px solid #0A8754;
  text-align: center;
  padding: 20px;
  padding-left: 40px;
  padding-right: 40px;
  position: relative;
}
.body_grid table td .par, .body_grid table th .par {
  position: absolute;
  font-size: 12px;
  top: 2%;
  right: 5%;
  color: #004F2D;
}
.body_grid table tr:nth-child(even) {
  background-color: #0A8754;
  border: 1px solid white;
}
.body_grid table .blur5 {
  cursor: pointer;
}
.body_grid table .blur {
  cursor: pointer;
}

button {
  color: black;
  background-color: #0A8754;
  margin-left: 20px;
  padding: 4px;
  padding-left: 7px;
  padding-right: 7px;
  border-radius: 5px;
}

.pop-up-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 35%;
  background-color: #004F2D;
  padding: 20px;
  color: white;
  border-radius: 10px;
  overflow: auto;
  position: fixed;
  top: 20%;
  left: 34%;
  margin-right: -50px;
}
.pop-up-text .name {
  font-size: 30px;
  font-weight: 800;
  text-align: center;
}
.pop-up-text .number {
  font-size: 25px;
  font-weight: 800;
  text-align: center;
}
.pop-up-text .place {
  font-size: 25px;
  font-weight: 800;
  padding-bottom: 2px;
  text-align: center;
}
.pop-up-text .hole {
  font-size: 17px;
  padding: 1px;
  text-align: center;
}
.pop-up-text .x {
  position: absolute;
  right: 10px;
  top: 10px;
}

@media only screen and (max-width: 1440px) {
  .pop-up-text {
    width: 30%;
    position: fixed;
    top: 20%;
    left: 34%;
    margin-right: -50px;
  }
}
@media only screen and (max-width: 936px) {
  .pop-up-text {
    width: 40%;
    position: fixed;
    top: 20%;
    left: 27%;
    margin-right: -50px;
  }
  .name {
    font-size: 25px;
    font-weight: 800;
    text-align: center;
  }
  .number {
    font-size: 20px;
    font-weight: 800;
    text-align: center;
  }
  .place {
    font-size: 20px;
    font-weight: 800;
    padding-bottom: 2px;
    text-align: center;
  }
  .hole {
    font-size: 12px;
    padding: 1px;
    text-align: center;
  }
}
@media only screen and (max-width: 800px) {
  .pop-up-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 40%;
    background-color: #004F2D;
    padding: 20px;
    color: white;
    border-radius: 10px;
    overflow: auto;
    position: fixed;
    top: 27%;
    left: 27%;
    margin-right: -50px;
  }
  .pop-up-text .name {
    font-size: 25px;
    font-weight: 800;
    text-align: center;
  }
  .pop-up-text .number {
    font-size: 20px;
    font-weight: 800;
    text-align: center;
  }
  .pop-up-text .place {
    font-size: 20px;
    font-weight: 800;
    padding-bottom: 2px;
    text-align: center;
  }
  .pop-up-text .hole {
    font-size: 12px;
    padding: 1px;
  }
  .body_grid .form-control {
    padding-right: 180px;
  }
  .body_grid button {
    margin-left: 10px;
  }
  .body_grid .tit {
    font-size: 50px;
    padding-top: 60px;
  }
  .body_grid table {
    padding: 10px;
    font-size: 15px;
  }
  .body_grid table td, .body_grid table th {
    border: 1px solid #0A8754;
    text-align: center;
    padding: 15px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .body_grid table td .par, .body_grid table th .par {
    position: absolute;
    font-size: 11px;
    top: 2%;
    right: 5%;
    color: #004F2D;
  }
  .body_grid table tr:nth-child(even) {
    background-color: #0A8754;
    border: 1px solid white;
  }
}
@media only screen and (max-width: 1440px) {
  .pop-up-text {
    width: 30%;
    position: fixed;
    top: 20%;
    left: 34%;
    margin-right: -50px;
  }
}
@media only screen and (max-width: 936px) {
  .pop-up-text {
    width: 40%;
    position: fixed;
    top: 27%;
    left: 27%;
    margin-right: -50px;
  }
  .name {
    font-size: 25px;
    font-weight: 800;
    text-align: center;
  }
  .number {
    font-size: 20px;
    font-weight: 800;
    text-align: center;
  }
  .place {
    font-size: 20px;
    font-weight: 800;
    padding-bottom: 2px;
    text-align: center;
  }
  .hole {
    font-size: 12px;
    padding: 1px;
    text-align: center;
  }
}
@media only screen and (max-width: 504px) {
  .pop-up-text {
    width: 60%;
    position: fixed;
    top: 27%;
    left: 15%;
    margin-right: -50px;
  }
  .name {
    font-size: 25px;
    font-weight: 800;
    text-align: center;
  }
  .number {
    font-size: 20px;
    font-weight: 800;
    text-align: center;
  }
  .place {
    font-size: 20px;
    font-weight: 800;
    padding-bottom: 2px;
    text-align: center;
  }
  .hole {
    font-size: 12px;
    padding: 1px;
    text-align: center;
  }
}
@media only screen and (max-width: 430px) {
  .body_grid .form-control {
    padding-right: 40px;
  }
  .body_grid button {
    margin-left: 10px;
  }
  .body_grid .tittle {
    font-size: 30px;
    font-weight: 800;
    gap: 10px;
  }
  .body_grid .tittle .smaller {
    font-size: 25px;
  }
  .body_grid table {
    padding: 10px;
    font-size: 10px;
  }
  .body_grid table .adding {
    gap: 20px;
    font-size: 10px;
  }
  .body_grid table td, .body_grid table th {
    border: 1px solid #0A8754;
    text-align: center;
    padding: 15px;
    padding-left: 10px;
    padding-right: 10px;
  }
  .body_grid table td .par, .body_grid table th .par {
    position: absolute;
    font-size: 10px;
    top: 2%;
    right: 15%;
    color: #004F2D;
  }
  .body_grid table tr:nth-child(even) {
    background-color: #0A8754;
    border: 1px solid white;
  }
}
@media only screen and (max-width: 300px) {
  .body_grid .form-control {
    padding-right: 40px;
  }
  .body_grid .form-group {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 0px;
  }
  .body_grid .tittle {
    font-size: 20px;
    gap: 5px;
  }
  .body_grid .tittle .smaller {
    font-size: 14px;
  }
}
@media only screen and (max-width: 333px) {
  .pop-up-text {
    width: 80%;
    position: fixed;
    top: 27%;
    left: 3.5%;
    margin-right: -50px;
  }
  .name {
    font-size: 25px;
    font-weight: 800;
    text-align: center;
  }
  .number {
    font-size: 20px;
    font-weight: 800;
    text-align: center;
  }
  .place {
    font-size: 20px;
    font-weight: 800;
    padding-bottom: 2px;
    text-align: center;
  }
  .hole {
    font-size: 12px;
    padding: 1px;
    text-align: center;
  }
}

/*# sourceMappingURL=style.css.map */
