body {
  margin: 0px;
}

.fa-solid {
  cursor: pointer;
  transition: 1s;
}

.fa-solid:hover {
  color: #0A8754;
  transition: 1s;
}

.header {
  background-color: #004F2D;
  margin: 0px;
  display: flex;
  justify-content: space-between;
  font-size: 30px;
  color: white;
  align-items: center;
  position: fixed;
  top: 0%;
  width: 100%;
  margin-bottom: 20px;
  z-index: 1;
}
.header .left {
  padding: 30px;
}
.header .right {
  padding: 30px;
}

.body_grid {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  margin-top: 90px;
  padding-bottom: 50px;
  width: 100%;
}
.body_grid .form-control {
  padding: 3px;
  padding-right: 300px;
  margin-bottom: 15px;
}
.body_grid .adding {
  display: flex;
  justify-self: center;
  align-items: center;
  gap: 30px;
  font-size: 30px;
  padding: 10px;
  padding-bottom: 20px;
}
.body_grid .tit {
  font-size: 60px;
  font-weight: 800;
  color: #1b1b3a;
  padding-top: 50px;
  padding-bottom: 20px;
  text-align: center;
}
.body_grid table {
  display: flex;
  justify-content: center;
  align-items: center;
  border-collapse: collapse;
  padding: 10px;
  overflow-y: auto;
  font-size: 25px;
}
.body_grid table td, .body_grid table th {
  border: 1px solid #0A8754;
  text-align: center;
  padding: 20px;
  padding-left: 40px;
  padding-right: 40px;
  position: relative;
}
.body_grid table td .par, .body_grid table th .par {
  position: absolute;
  font-size: 12px;
  top: 2%;
  right: 5%;
  color: #004F2D;
}
.body_grid table tr:nth-child(even) {
  background-color: #0A8754;
  border: 1px solid white;
}
.body_grid table .blur {
  cursor: pointer;
}
.body_grid table .blur1 {
  cursor: pointer;
}

@media only screen and (max-width: 800px) {
  .body_grid .form-control {
    padding-right: 180px;
  }
  .body_grid button {
    margin-left: 10px;
  }
  .body_grid .tit {
    font-size: 50px;
    padding-top: 60px;
  }
  .body_grid table {
    padding: 10px;
    font-size: 15px;
  }
  .body_grid table td, .body_grid table th {
    border: 1px solid #0A8754;
    text-align: center;
    padding: 15px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .body_grid table td .par, .body_grid table th .par {
    position: absolute;
    font-size: 11px;
    top: 2%;
    right: 5%;
    color: #004F2D;
  }
  .body_grid table tr:nth-child(even) {
    background-color: #0A8754;
    border: 1px solid white;
  }
}
@media only screen and (max-width: 430px) {
  .body_grid .form-control {
    padding-right: 40px;
  }
  .body_grid button {
    margin-left: 10px;
  }
  .body_grid table {
    padding: 10px;
    font-size: 10px;
  }
  .body_grid table .adding {
    gap: 20px;
    font-size: 10px;
  }
  .body_grid table td, .body_grid table th {
    border: 1px solid #0A8754;
    text-align: center;
    padding: 15px;
    padding-left: 10px;
    padding-right: 10px;
  }
  .body_grid table td .par, .body_grid table th .par {
    position: absolute;
    font-size: 10px;
    top: 2%;
    right: 15%;
    color: #004F2D;
  }
  .body_grid table tr:nth-child(even) {
    background-color: #0A8754;
    border: 1px solid white;
  }
}
@media only screen and (max-width: 300px) {
  .body_grid .form-control {
    padding-right: 40px;
  }
  .body_grid .form-group {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 0px;
  }
}
button {
  color: black;
  background-color: #0A8754;
  margin-left: 20px;
  padding: 4px;
  padding-left: 7px;
  padding-right: 7px;
  border-radius: 5px;
}

/*# sourceMappingURL=style.css.map */
